* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr;
    margin-left: 5px;
    border-left: 7px ridge #533B30;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    border-bottom: 6px double black;
    margin-bottom: 50px;
    margin-left: 10px;
}

.heading {
    font-size: 1.5rem;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
}

.left {
    display: grid;
    grid-template-rows: repeat(3, min-content);
}

.heading, .input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1 {
    font-size: 5rem
}

button {
    padding: 30px 10px;
    font-size: 2.5rem;
    border: 2px solid black;
    background-color: #E2D1CA;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    gap: 2rem;
    margin-right: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #E2D1CA;
    color: black;
    border: 3px solid #533B30;
    border-right: 20px double white;
    max-width: 130px;
    min-height: 150px;
    border-radius: 10px;
    gap: 1rem;
    padding: 1rem;
    size: min-content;
    font-size: 1rem;
    margin-left: 10px;
}

.card .cardTitle {
    font-size: 1.3rem;
    font-weight: bolder;
    border-bottom: 1px solid grey;
}

.card .cardPages {
    font-style: italic;
}

.card .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}

.card .check {
    display: flex;
    align-items: center;
}

.card button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bolder;
    background-color: white;
    padding: 7px;
    height: 7px;
    width: 7px;
    border-radius: 0.15em;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    margin-left: 7px;
}
  
  input[type="checkbox"]:checked {
    background-color: #0e9594;
  }
  
  